<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>505983635083-i4gmjuqc8bl9l4kgpb4r7e37s5eh5ra2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505983635083-i4gmjuqc8bl9l4kgpb4r7e37s5eh5ra2</string>
	<key>API_KEY</key>
	<string>AIzaSyAB_51ePx_ZHP5EtgpjkaB2qvM-c2elnT0</string>
	<key>GCM_SENDER_ID</key>
	<string>505983635083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joannkuo.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-57ec3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-57ec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505983635083:ios:b9a0e0cf5d9fa149</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-57ec3.firebaseio.com</string>
</dict>
</plist>